<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>農場の更新</title>
  </head>
  <body>
    <h1>農場の更新</h1>
    <form action="/farm/<%= farm._id %>?_method=PUT" method="POST">
      <div>
        <label for="title">農場名：</label>
        <input type="text" name="title" id="title" value="<%= farm.title %>" />
      </div>
      <div>
        <label for="location">場所　：</label>
        <input
          type="string"
          name="location"
          id="location"
          value="<%= farm.location %>"
        />
      </div>
      <br />
      <button>更新する</button>
    </form>
    <a href="/farm/<%= farm._id %>">編集をやめる</a>
  </body>
</html>
