<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>農場一覧</title>
  </head>
  <body>
    <p><%= success %></p>
    <h1>農場一覧</h1>
    <% for(let farm of farms) { %>
    <li><a href="/farm/<%= farm._id %>"><%= farm.title %></a></li>
    <% } %>
    <a href="/farm/new">農場を追加する</a>
  </body>
</html>
